.r1{
	text-align: center;
}

.hd-1{
	color: #fff;
	background-color: #545454;
}

.logo{
	font-size: 10em;
}

h1{
	padding-top: 30px;
}

.r2{
	text-align: center;
	
}

.log-1{
	background-color: #ffee00;
}