.container{
	font-family: 'Lobster', cursive;
	width: 100%;
	margin: 0 auto;
}

header img{
	width: 80%;
	display: block;
	margin: 0 auto;
}
header h1{
	text-align: center;
}
header p{
	text-align: center;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 20px;
	font-size: 1.5em

}

section article{
	width: 15%;
	display: inline-block;
	margin: 0 auto;
	padding: 65px;
}

section article h2{
	display: inline-block;
	text-align: center;
	font-size: 2em;
}

.fa-angle-double-right{
	display: inline-block;
}

section article p{
	width: 200px;
	text-align: left;
}



footer{
	width: 400px;
	display: block;
	margin: 0 auto;
}

footer img{
	display: inline-block;
	width: 30px
}
footer h3{
	display: inline-block;
	text-align: center;
	padding-left: 10px;
}

footer p{
	display: inline-block;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-left: 5px;
}
