@import "../node_modules/bootstrap/scss/bootstrap";
.container-fluid{
  font-family: 'Scheherazade', serif;
}

header{
  color: #FFFFFF;
  background-color: #009b00;
  text-align: center;

}
form{
  display: flex;
  justify-content: center;
    input{
      font-size: 3em;
      border-radius: 10px;
      width: 1000px;
      height: 80px;
      border-color: inherit;

    }
}
nav{
text-align: center;
  li{
    display: inline-block;
    border-right: 1px #919191 solid;
    padding-right: 5px;
    &:last-child{
      border-right: none;
    }
  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
   }
  }
}

section{
  text-align: center;
  color: #fff;

  h2{
    padding-top: 50px;
  }

  .bd-1{
    margin: 6%;
    background-color: #ff88dd;
  }
  .bd-2{
    margin: 6%;
    background-color: #0c4128;
  }
  .del{
    text-align: center;
    background-color: #000000;
    margin-top: 90px;
  }

  .wordBox{
    height: 200px;
  }

  .box{
    height: 200px;
  }

}

